.swiper-wrapper{
  display: flex;
}

.swiper-container{
  width: 100%;
  height: 100%;
}

.episode-swiper-container{
  width: 100%;
  height: 100%;
}

.swiper-slide{
  text-align: center;
  font-size: 18px; 
}

img {
  max-width: 100%;
  height: auto;
}

.episode-image{
  max-width: 100%;
  height: 190px;
}

  .swiper-slide:hover {
      transform: scale(1.08);
      z-index: 1;
  }

  .swiper-slide:first-child:hover{
      margin:0 40px;
  }

  .swiper-slide:last-child:hover{
      margin:0 -40px;
  }


