.row{
    color:#CFF2FF;
    margin-left:20px;
}

.collection__Title{
    color:#CFF2FF;
    
}

.collection__Description{
    color:white;
}

.row__posters{
display: flex;
overflow-y: hidden;
overflow-x: scroll;
padding:7px;
}

.row__posters::-webkit-scrollbar
{
    display: none;
}

.row__poster{
    
    object-fit: contain;
    width: 100%;
    max-height: 150px;
    transition: transform 450ms; 
    margin-right:10px;
    background-color: 090909;
}

.row__poster:hover
{
    transform: scale(1.10);
    
}

.row__Title{
    padding-top: 30px;
}

.row__Collectionposters{
    object-fit: contain;
    width: 100%;
    max-height: 150px;
    transition: transform 450ms; 
    margin-right:10px;
    background-color: black;
}
